[submodule "pretixdesk/libpretixsync-repo"]
	path = pretixdesk/libpretixsync-repo
	url = https://github.com/pretix/libpretixsync.git
	branch = master
[submodule "pretixdesk/libpretixprint-repo"]
	path = pretixdesk/libpretixprint-repo
	url = https://github.com/pretix/libpretixprint.git
